* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-image: url("http://rescuethepresent.net/webdevelopment/css/challenges/lakeSunset.jpg");
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 16px 0px 12px 0px;
  border-bottom: 3px solid orange;
  color: black;
  font-size: 20 px;
  font-weight: 300 px;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25 px 25 px 50 px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: rgba(255, 255, 255, 0.897);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: rgba(255, 255, 255, 0.897);
  font-size: 16px;
}

.current .temp {
  color: rgba(255, 255, 255, 0.897);
  font-size: 50px;
  font-weight: 900;
  margin: 20px;
  text-shadow: 4px 6px #201414;
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 4px 6px #201414;
}

.current .hi-low {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 4px 6px #201414;
}

.alert .alert-warning {
  color: white;
  font-size: 24px;
  margin: 20px;
  margin-left: -10px;
  font-weight: 500;
  text-shadow: 4px 6px #201414;
}

.alert .warning {
  color: red;
  font-size: 24px;
  margin: 20px;
}

.warning,
.alert-warning {
  display: inline;
}

.alert {
  margin: 20px;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
